@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --border_clr: linear-gradient(114.65deg, #a200ff 0%, #79009e 50.29%, #750099 100%);
    --script_name: rgb(255, 255, 255);

    --server_name_first: rgba(255, 255, 255, 1);
    --server_name_last: rgb(183, 0, 255);

    --text: 'Rajdhani', sans-serif;

    --server_name_first: rgb(153, 0, 255);
    --text-shadow-first1: rgb(0, 0, 0, 0.5);
    --text-shadow-first2: rgba(255, 255, 255, 0.5);

    --server_name_last: rgb(255, 255, 255);
    --text-shadow-last1: rgb(0, 0, 0);
    --text-shadow-last2: rgba(131, 131, 131, 0.5);
    
    --top_right_blur: rgb(0, 0, 0);

    --id_first: rgb(69, 0, 126);
    --id_last: rgba(255, 255, 255, 0.5);

    --onlineplayer_first: rgb(134, 0, 161);
    --onlineplayer_last: rgba(255, 255, 255, 0.5);

    --mic_st1: rgba(255, 255, 255, 0.5);
    --mic_st2: rgb(225, 0, 255);
    --mic_st3: rgb(255, 0, 0);

    --dot_st1: rgba(255, 255, 255, 0.5);
    --dot_st2: rgb(174, 0, 255);

    --money_first: rgb(255, 255, 255);
    --money_first_img: rgb(255, 255, 255);
    --money_last: rgb(255, 255, 255);
    --money_last_img: rgb(255, 255, 255);

    --plz_first: rgba(255, 255, 255, 0.5);
    --plz_last: rgba(255, 255, 255, 0.5);
    --job_first: rgba(255, 255, 255, 0.5);
    --job_last: rgba(255, 255, 255, 0.5);
    --clock_first: rgba(255, 255, 255, 0.5);
    --clock_last: rgba(255, 255, 255, 0.5);

    --food_img: rgb(255, 255, 255);
    --food_bg:rgba(4, 23, 11, 0.9);
    --food_st1: rgb(5, 255, 0);
    --food_st2: rgb(255, 122, 0);
    --food_st3: rgb(255, 0, 0);
    --water_bg:rgba(17, 32, 38, 0.9);
    --water_st1: rgb(98, 208, 255);
    --water_st2: rgb(255, 122, 0);
    --water_st3: rgb(255, 0, 0);

    --chat_bg: radial-gradient(50% 224.95% at 50% 50%, rgba(22, 22, 22, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    --chat_border: rgb(153, 0, 255);
    --chat_img: rgba(255, 255, 255, 0.5);
    --chat_clr: rgb(255, 255, 255);

    --speedo_KMH_first: rgba(255, 255, 255, 0.6);
    --speedo_KMH_last: rgb(255, 255, 255);
    --speedo_KMH_last_shadow: rgb(0, 0, 0);

    --lock_st1: rgba(0, 0, 0, 0.5);
    --lock_st2: rgb(37, 228, 63);
    --engien_st1: rgba(0, 0, 0, 0.5);
    --engien_st2: rgb(37, 228, 63);

    --fule_text: rgb(37, 228, 63);
    --fule_bg_bar: rgba(0, 0, 0, 0.5);
    --fule_bar: rgb(37, 228, 63);

    --help_notify: rgb(153, 0, 255);
    --help_notify_text_in: rgb(183, 0, 255);
    --help_notify_text: rgba(255, 255, 255, 0.6);
    --help_notify_bg: rgb(162, 0, 255);

    --progress_bar_gb:rgba(0, 0, 0, 0.6);
    --progress_bar_fill:linear-gradient(90deg, rgb(174, 0, 255) 0%, rgba(92, 0, 129, 0.59) 100%);
    --progress_bar_fill_shadow:rgb(247, 0, 255);
    --progress_bar_text:rgb(255, 255, 255);

    --settings_bg:rgba(8, 16, 20, 0.9);
    --settings_hader:rgb(255, 255, 255);
    --settings_text:rgb(255, 255, 255);
    --checkbox-checked: #7DDE29;
    --checkbox-checked-box-shadow: rgba(125, 222, 41, 0.64);

    --checkbox-unchecked: #FF3131;
    --checkbox-unchecked-box-shadow: rgba(255, 49, 49, 0.64);

    --announce_bg: rgb(183, 0, 255);
    --announce_img: #fff;
    --announce_img_shadow: rgba(255, 255, 255, .5);
    --announce_header:rgb(255, 255, 255);
    --announce_text:rgb(255, 255, 255);
    --announce_progress_bg:rgba(0, 0, 0, .05);
    --announce_progress:rgb(255, 255, 255);

    --notify_bg:rgb(162, 0, 255);
    --notify_img: #fff;
    --notify_img_shadow:rgba(255, 255, 255, .5);
    --notify_header: #fff;
    --notify_text: #fff;
    --notify_progress:rgb(255, 255, 255);
    --notify_progress_bg:rgba(0, 0, 0, .05);
}

body {
    color: red;
    font-family: var(--text);
    background: #555555;
    overflow: hidden;
    /* cursor: default; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 700;
    font-size: 1.5vh;
}

.hud_top_right {
    position: absolute;
    top: 0.8vh;
    right: 2.5vh;
}

.hud_schadow_right {
    position: absolute;
    top: -10vh;
    right: -10vh;
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    filter: blur(10vh);
    background-color: var(--top_right_blur);
}

.hud_servername {
    text-align: right;
    font-size: 3.5vh;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3vh;
}

.server-name{
    color: var(--server_name_first);
    text-shadow: var(--text-shadow-first1) 0.3vh 0.3vh 0.3vh, var(--text-shadow-first2) 0.2vh 0.2vh 2vh;
}

.server-name2{
    color: var(--server_name_last);
    text-shadow: var(--text-shadow-last1) 0.3vh 0.3vh 0.4vh, var(--text-shadow-last2) 0vh 0.2vh 2vh !important;
}


.hud_info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    left: -0.5vh;
    top: -6vh;
    gap: 1vh;
}


.hud_id {
    position: relative;
    font-weight: 700;
    font-size: 1.8vh;
}

.hud_id p {
    color: var(--id_first);
}

.hud_id span {
    color: var(--id_last);
}

.hud_onlineplayer {
    position: relative;
    font-weight: 700;
    font-size: 1.8vh;
}

.hud_onlineplayer i {
    color: var(--onlineplayer_first);
}

.hud_onlineplayer span {
    color: var(--onlineplayer_last);
}

.hud_mic {
    position: relative;
    display: flex;
    align-items: center;
    top: -0.1vh;
    right: 0vh;
    font-size: 1.8vh;
    gap: 0.3vh;
}

.hud_mic i {
    color: var(--mic_st1);
}

.dot {
    width: 1vh;
    height: 1vh;
    border-radius: 1vh;
    background: var(--dot_st1);
}

.dot_on {
    background-color: var(--dot_st2);
}

/* .hud_money {
    position: absolute;
    top: 13vh;
    right: 0vh;
    text-align: right;
    font-weight: 700;
} */

.hud_player_money {
    position: absolute;
    font-size: 2.5vh;
    top: 11vh;
    right: 0vh;
    text-align: right;
    font-weight: 700;
}

.hud_player_money p {
    color: var(--money_first_img);
}

.hud_player_money span {
    color: var(--money_first);
}

.hud_bank_money {
    position: absolute;
    font-size: 2vh;
    top: 17vh;
    right: 0vh;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
}
.hud_bank_money i {
    color: var(--money_last_img);
}

.hud_bank_money span {
    color: var(--money_last);
}

.hud_top_left {
    position: absolute;
    /* top: 7vh; */
    top: 5vh;
    left: 3vh;
    font-weight: 700;
    font-size: 2vh;
}

.hud_schadow_left {
    position: absolute;
    top: -15vh;
    right: -0vh;
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    filter: blur(10vh);
    background-color: var(--top_right_blur);
}

.hud_plz {
    position: relative;
}

.hud_plz i {
    color: var(--plz_first);
}

.hud_plz span {
    color: var(--plz_last);
}

.hud_job {
    position: relative;
}

.hud_job i {
    color: var(--job_first);
}

.hud_job span {
    color: var(--job_last);
}

.hud_clock {
    position: relative;
}

.hud_clock i {
    color: var(--clock_first);
}

.hud_clock span {
    color: var(--clock_last);
}

.hud_speedo {
    position: absolute;
    right: 3vh;
    bottom: 3vh;
}

.hud_speedo_kmh {
    position: relative;
    top: 13vh;
    left: 2.5vh;
    transform: skew(170deg);
}

.hud_speedo_kmh p:first-child {
    position: relative;
    text-align: left;
    left: 3vh;
    top: 5.5vh;
    font-size: 1.6vh;
    font-weight: 700;
    color: var(--speedo_KMH_first)
}

.hud_speedo_kmh p:last-child {
    position: relative;
    text-align: right;
    left: -12vh;
    font-size: 4.8vh;
    font-weight: 700;
    color: var(--speedo_KMH_last);
    text-shadow: 0vh 0vh 1vh var(--speedo_KMH_last_shadow);
}

.hud_speedo_icons {
    position: relative;
    left: 14.5vh;
    top: 2.5vh;
    font-size: 1.8vh;
}

.hud_speedo_icons i:first-child {
    color: var(--lock_st1);
}

.hud_speedo_icons i:last-child {
    color: var(--engien_st1);
}

.hud_fule {
    position: relative;
}

.hud_fule p {
    color: var(--fule_text);
    position: relative;
    text-align: right;
    top: 1vh;
    font-size: 1.8vh;
    font-weight: 700;
    text-shadow: 0vh 0vh 1vh var(--fule_text);
}

.hud_fule_bar {
    width: 19.4vh;
    height: 0.6vh;
    background: var(--fule_bg_bar);
    transform: skew(170deg);
}

.hud_fule_bar_2 {
    width: 0%;
    height: 0.6vh;
    background: var(--fule_bar);
    box-shadow: 0vh 0vh 1vh var(--fule_bar);
}

.hud_chat{
    position: absolute;
    top: 14.5vh;
    left: 0vh;
}

.chat_bg{
    position: relative;
    width: 23vh;
    height: 3.4vh;
    left: 3vh;
    background: var(--chat_bg);
    border-left: 0.2vh solid var(--chat_border);
    box-shadow: 4px 4px 9.9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0.6vh;
    display: flex;
}

.chat_bg i{
    position: relative;
    font-size: 3vh;
    top: 0.2vh;
    left: -6vh;
    color: #ffffff;
}

.caht_input{
    position: relative;
    line-height: 4.1vh;
    left: 1vh;
}
.caht_input input{
    font-size: 2vh;
    font-weight: 700;
    color: var(--chat_clr);
    border: none;
    background: none;
    outline: none;
}

.caht_input input::placeholder{
    color: var(--chat_clr);
    text-transform: uppercase;
}
.food_water {
    position: absolute;
    left: 16.82292vw;
    bottom: 3.38542vw;
    display: flex;
    flex-direction: column;
    display: var(--food-off);
}

.food_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.44792vw;
    height: 2.44792vw;
    position: relative;
    top: 4.2vh;
    left: 0vh;
}

.progress_ring {
    height: 2.44792vw;
    height: 2.44792vw;
}

.progress_novalue {
    stroke-width: 3;
    fill: none;
}

.food {
    stroke: var(--food_bg)
}

.water {
    stroke: var(--water_bg);
}

.progress_food {
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
    transform: rotate(270deg);
    transform-origin: center;
    stroke: var(--food_st1);
}

.food_water-img:first-child {
    position: absolute;
    left: 1.6vh;
    top: 1.4vh;
    width: 1.35417vw;
    height: 1.35417vw;
    font-size: 2vh;
    color: var(--food_img);
}

.food_water-img:last-child {
    position: absolute;
    font-size: 2vh;
    color: var(--food_img);
}

.water_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.44792vw;
    height: 2.44792vw;
    position: relative;
    margin-top: 0.5vw;
    position: absolute;
    top: -1.6vh;
    left: 0vh;
}

.progress_water {
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
    stroke: var(--water_st1);
    transform: rotate(270deg);
    transform-origin: center;
}

.progress-bar {
    position: absolute;
    bottom: 5.57vw;
    left: 50%;
    transform: translateX(-50%);
    height: 5.42vw;
    width: 35vh;
    text-align: center
}

.progress-bar-con {
    position: absolute;
    top: 2.55vw;
    left: 0;
    width: 100%;
    height: 3vh;
    border-radius: 0.5vh;
    background: var(--progress_bar_gb);
}

.progress-bar-fill {
    position: absolute;
    left: 0vw;
    width: 0;
    height: 3vh;
    border-radius: 0.5vh;
    background: var(--progress_bar_fill);
    box-shadow: 0px 0px 7px var(--progress_bar_fill_shadow);
}

.progress-i-text {
    position: relative;
    display: flex;
    top: 3.3vh;
    left: 0.5vh;
    color: var(--progress_bar_text);
    font-weight: 700;
    font-size: 1.7vh;
}

.progress-i-text p:last-child {
    position: relative;
    left: 0.5vh;
}

.help-notify {
    position: absolute;
    bottom: 1.09vw;
    left: 41.82vw;
    width: 16.35vw;
    height: 5.42vw;
    animation: helpNoitfy 1.0
}

.help-notifyOut {
    position: absolute;
    animation: helpNoitfyOut 1.0
}

@keyframes helpNoitfy {
    0% {
        bottom: -6.56vw
    }

    100% {
        bottom: 1.09vw
    }
}

@keyframes helpNoitfyOut {
    100% {
        bottom: -6.56vw
    }

    0% {
        bottom: 1.09vw
    }
}

.control-key {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    border-radius: 15.63vw;

    border: solid 0.5vh var(--help_notify);
    box-shadow: 0vh 0vh 2.5vh var(--help_notify);

}

.key {
    position: absolute;
    left: 50%;
    top: -18%;
    transform: translate(-50%, -50%);
    width: auto;
    color: var(--help_notify_text_in);
    text-shadow: 0vh 0vh 2.5vh var(--help_notify_text_in);
    font-size: 3.2vh;
    font-weight: 700;
}

.control-infos {
    position: absolute;
    width: 13.02vw;
    height: 2.5vw;
    top: 1.46vw;
    left: 50%;
    transform: translateX(-50%)
}

.help-shadow {
    position: absolute;
    width: 19.4vh;
    height: 10vh;
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);
    background: var(--help_notify_bg);
    filter: blur(5.1vh);
}

.help_text {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    height: 1.04vw;
    white-space: nowrap;
    color: var(--help_notify_text);
    font-weight: 700;
    font-size: 1.9vh;
    line-height: 2.4vh;
    text-align: center;
}

.scoreboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.8333333333vw;
    height: 32.50625vw;
    padding-top: 2.0833333333vw;
    right: 4.2708333333vw;
    background: radial-gradient(74.43% 63.52% at 1.7% 96.65%, rgb(141 141 141 / 6%) 0%, rgb(92 92 92 / 6%) 100%), radial-gradient(29.16% 50.31% at 99.32% 92.93%, rgb(143 143 143 / 9%) 0%, rgb(100 100 100 / 0%) 100%), radial-gradient(50% 50% at 50% 50%, rgb(114 114 114 / 20%) 0%, rgb(40 40 40 / 20%) 100%), #000000;
    border-radius: 3.3333333333vw;
    left: 90%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.scoreboard::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 3.3333333333vw;
    padding: 0.1851851852vh;
    background: linear-gradient(114.65deg, #b700ff 0%, #5800cc 50.29%, #5c0099 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

.scoreboard-header {
    position: absolute;
    top: -1vh;
    left: 3vh;
    width: 23.96vw;
    height: 10.63vw;
    font-weight: 700;
    text-transform: uppercase;
}

.server-names{
    font-size: 3.5vh;
}

.scoreboard-name{
    position: relative;
    top: -3vh;
    font-size: 2vh;
    color: #fff;
}

.scoreboard-logo {
    position: absolute;
    width: 5.42vw;
    height: 5.42vw;
    left: 50%;
    transform: translateX(-50%)
}

.scoreboard-desc {
    position: absolute;
    bottom: 0vw;
    width: 23.96vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
    text-shadow: 0vw 0vw .42vw rgba(0, 0, 0, 0.32);
    font-size: .83vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jobs {
    position: relative;
    left: 2vh;
    top: -3vh;
}

.job {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: -4vh;
    width: 14.5vw;
    height: 2vw;
    margin: 1.2vw;
    background: rgba(34, 34, 34, 0.25);
    border-radius: 1vh;
}


.job-name {
    position: absolute;
    top: -1vh;
    left: 45%;
    transform: translateX(-50%);
    color: #FFF;
    width: 10vh;
    text-align: left;
    text-shadow: 0vw 0vw .42vw rgba(0, 0, 0, 0.32);
    font-size: 1.04vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.job_count_bg{
    position: absolute;
    left: 20vh;
    width: 5vh;
    transform: skew(160deg);
    background: linear-gradient(180deg, #c755fc 0%, #9831f9 100%);
    border-radius: 0.5vh;
    justify-content: center;
    align-items: center;
}
.job-count {
    position: relative;
    color: #fff;
    width: 100%;
    text-align: center;
}

.job-icon {
    position: absolute;
    height: auto;
    width: auto;
    left: 10%;
    font-size: 3.5vh;
    top: 50%;
    transform: translate(-50%, -50%)
}

.scoreboard-server-info{
    position: absolute;
    top: 50vh;
    left: 30%;
    transform: translateX(-50%);
    display: flex;
    gap: 10vh;
}

.scoreboard_bg{
    position: absolute;
    display: flex;
    top: 8vh;
    color: #ffffff;
    font-size: 12vh;
    left: -3vh;
    gap: 5vh;
}

.scoreboard-onlineplayer{
    position: relative;
    top: 9vh;
    right: 1vh;
    text-align: center;
    color: #494949;
}

.scoreboard-plyerid{
    position: relative;
    top: 9vh;
    left: 0.3vh;
    text-align: center;
    color: #494949;

}

.hud-settings {
    position: absolute;
    width: 28.67vw;
    height: 30.61vw;
    left: 50%;
    top: 50%;
    border-radius: 2vh;
    transform: translate(-50%, -50%);
    background: var(--settings_bg);
}

.header-settings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.29vw;
    width: 11.88vw;
    height: 7.5vw
}

.settings-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5.42vw;
    height: 5.42vw
}

.hud-header-txt {
    position: absolute;
    bottom: 0vw;
    color: var(--settings_hader);
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-size: 4vh;
    text-align: center;
    text-shadow: 0vh 0.5vh 1.4vh rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.elements-settings {
    position: absolute;
    width: auto;
    height: 24.84vw;
    top: 13.49vw;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    overflow-x: hidden
}

.element-txt {
    position: absolute;
    left: 2.92vw;
    height: 6.04vw;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-size: 2.1vh;
    display: flex;
    color: var(--settings_text);
    text-shadow: 0vh 0.4vh 0.4vh rgba(0, 0, 0, 0.25);

}

.element-status {
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    right: 2.92vw;
    top: 20%;
    transform: translateY(-50%);
    border-radius: .31vw
}

.unchecked {
    background: var(--checkbox-unchecked);
    /* box-shadow: 0vw 0vw 1.25vw 0vw var(--checkbox-unchecked-box-shadow) */
}

.checked {
    background: var(--checkbox-checked);
    /* box-shadow: 0vw 0vw 1.25vw 0vw var(--checkbox-checked-box-shadow) */
}

::-webkit-scrollbar {
    width: .16vw
}

::-webkit-scrollbar-thumb {
    border-radius: 15.63vw;
    background: var(--color-scrollbar);
}

.element {
    position: relative;
    width: 25vw;
    height: 4.17vw;
    border-radius: .1vw;
    margin-bottom: .83vw;
    margin-right: .52vw
}

.element:last-child {
    margin-bottom: 0
}

.close-scoreboard {
    position: absolute;
    width: .83vw;
    height: .83vw;
    right: 3.33vw;
    top: 2.08vw
}

.notifys-container {
    position: absolute;
    width: auto;
    height: 60vh;
    bottom: 10.6vw;
    left: 1.51vw;
    overflow: hidden;
}

.announces{
    position: absolute;
    top: 3vh;
    left: 50%;
    width: 50vh;
    height: 22.5vh;
    transform: translateX(-50%);
    overflow: hidden;
    }
    
    
    
    .main__announce-item{
        overflow: hidden;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.711);
        width: 95%;
        position: relative;
        background: linear-gradient(to right, var(--announce_bg), rgba(0, 0, 0, 0));
        padding-left: 1vh;
        padding-bottom: 1vh;
        padding-right: 1vh;
        padding-top: 1vh;
        border-radius: 2.5vh;
        margin-bottom: 1.5vh;
        animation: 1s moveinanimation2;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    .main__announce-grid{
        width: 100%;
        display: grid;
        gap: 1vh;
        grid-template-columns: .1fr 1fr;
    }
    
    .main__announce-icon-container{
        color: var(--announce_img);
        font-size: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0vh 0vh 1vh var(--announce_img_shadow);
    }
    
    .main__announce-text-container{
        position: relative;
        left: 0vh;
        top: 0vh;
        display: flex; /* Neue Zeile */
        flex-direction: column; /* Neue Zeile */
    }
    
    .main__announce-text-header{
        color: var(--announce_header);
        font-size: 1.5vh;
        font-weight: 700;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.711);
        font-size: 2vh;
        text-transform: uppercase;
        transform: skew(-10deg);
        margin-bottom: 1vh; /* Neue Zeile */
    }
    
    .main__announce-text-description{
        position: relative;
        color: var(--announce_text); /* Farbe nur einmal angeben */
        font-size: 1.5vh;
        color: rgba(255, 255, 255, .75);
        margin-top: -1vh; /* Negative Margin hinzugefügt */
        width: 95%;
    }
    
    
    .main__announce-progress{
        position: absolute;
        bottom: 0;
        left: 0;
        height: .3vh;
        background: var(--announce_progress_bg);
        width: 100%;
    }
    
    .main__announce-progress-bar{
        width: 100%;
        height: 100%;
        /* background: linear-gradient(to right, var(--clr-white), rgba(0, 0, 0, 0)); */
        background-color: var(--announce_progress);
        /* animation: 5s announce linear; */
    }

.main__notify-item {
    overflow: hidden;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.711);
    position: relative;
    width: 22vh;
    min-height: 7vh;
    background: linear-gradient(to right, var(--notify_bg), rgba(0, 0, 0, 0));
    padding-left: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    border-radius: 2.5vh;
    margin-bottom: 1.5vh;
    animation: 1s moveinanimation;
    display: flex;
    flex-wrap: wrap;
}
.main__notify-grid {
    width: 100%;
    display: grid;
    grid-template-columns: .25fr 1fr;
    gap: 1vh;
}

.main__notify-icon-container {
    color: var(--notify_img);
    font-size: 4vh;
    text-shadow: 0vh 0vh 1vh var(--notify_img_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
}

.main__notify-text-container{
        position: relative;
        left: 5vh;
        top: 3.3vh;
}
.main__notify-text-header {
    position: absolute;
    top: -4vh;
    color: var(--notify_header);
    font-size: 1.5vh;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.711);
    font-size: 2vh;
    text-transform: uppercase;
    transform: skew(-10deg);
}

.main__notify-text-description {
    position: relative;
    top: -1vh;
    width: 15vh;
    color: var(--notify_text);
    font-size: 1.5vh;
    font-weight: 700;
    color: rgba(255, 255, 255, .75);
    white-space: pre-wrap;
    word-wrap: break-word;
}



.main__notify-progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: .3vh;
    background: var(--notify_progress_bg);    
}

.main__notify-progress-bar {
    width: 100%;
    height: 100%;
    background-color: var(--notify_progress);
}

@keyframes moveinanimation {
    0% {
        right: -30vh;
        opacity: 0%;
    }

    100% {
        right: 0vh;
        opacity: 100%;
    }
}

@keyframes moveinanimation2 {
    0% {
        right: -30vh;
        opacity: 0%;
    }

    100% {
        right: 0vh;
        opacity: 100%;
    }
}

@keyframes moveinanimation3 {
    0% {
        left: -30vh;
        opacity: 0%;
    }

    100% {
        left: 0vh;
        opacity: 100%;
    }
}


@keyframes notify {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes announce {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes teamchat {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes fadeIn {
    0% {
        left: -20.83vw;
        opacity: 0
    }

    100% {
        left: 0;
        opacity: 100%
    }
}

@keyframes fadeOut {
    0% {
        left: 0;
        opacity: 100%
    }

    100% {
        left: -20.83vw;
        opacity: 0
    }
}